.section {
    margin: 40px 0;
    padding: auto;
}
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    padding: 92px 50px 96px 50px;
    font-size: 18px;
    text-decoration-skip-ink: none;
}
.header__menu {
    display: flex;
    align-items: flex-start;
    list-style: circle;
}
.header__links-list {
    display: flex;
    gap: 33px;
    align-items: flex-start;
    flex-direction: row;
    list-style: circle;
    padding: 0;
    margin: 0;
}
.header__links-list-item {
    text-decoration: underline;
    text-underline-position: under;
}
.header__links-list-item_no-bullit {
    list-style-type: none;
}
.header__link_active {
    text-decoration: none;
}
.header_logo {
    justify-self: center;
    display: block;
    width: 148px;
}
.header_logo img {
    display: block;
    max-width: 148px;
    height: 105px;
    object-fit: contain;
}
.address {
    width: 240px;
    line-height: 24.3px;
    flex-direction: column;
}
.header__address {
    display: block;
    text-underline-position: under;
    justify-self: end;
    font-style: inherit;
}
.header__address a {
    text-decoration: underline;
    margin-top: 4px;
    padding: 0 0 0 1px;
}
span.address_location {
    display: flex;
    padding: 1px 30px 0 1px;
}
.cover {
    padding: 165px 50px 50px 50px;
    min-height: 757px;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}
.cover > * {
    position: relative;
    z-index: 2;
}
.cover__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    text-transform: uppercase;
    gap: 20px;
    color: #fff;
    font-size: 100px;
    line-height: 1.15;
}
.cover__title span {
    display: block;
}
.cover__title-text {
    display: flex;
}
.aligned-text_left {
    letter-spacing: 0.3em;
    text-align: left;
}
.aligned-text_center {
    letter-spacing: 0.3em;
    padding: 0 0 0 30px;
    text-align: center;
    
}
.aligned-text_right {
    margin-right: -30px;
    letter-spacing: 0.3em;
    justify-content: right;
    text-align: right;
}
.cover__description {
    padding: 106px 0 0 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content:flex-end;
}
.cover__subtitle {
    color: #fff;
    font-size: 22px;
    align-items: center;
    word-spacing: 0.84em;
    line-height: 28px;
    max-width: 637px;
}
.cover__button {
    display: flex;
    align-items: center;
    padding: 12px 32px 11px 31px;
    color: #fff;
    border: 1px solid;
    background-color: transparent;
    overflow: hidden;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: auto;
}

.lots {
    padding: 180px 0 0 25px;
    width: 1100px;
    
}

.lots__heading {
    padding-left:40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.lots__card-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card__link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    height: 100%;
    padding: 48px 40px 48px 40px;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-size: cover;
    background-position: center;
}

.card > * {
    position: relative;
    z-index: 2;
}
.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
}
.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
}
.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
}

.card__title {
    z-index: 1;
    margin: 0 0 20px 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: under;
}

.card__text {
    font-size: 20px;
    line-height: 1.2; 
    margin-top: auto;
    align-items: center;
}

.lots__look-more-link {
    padding-left:40px;
    display: block;
    margin-top: 30px;
    font-size: 20px;
    text-decoration: underline;
    color: #000;
    text-underline-position: under;
}

.about__columns {
    margin: 120px 24px 0 24px;
    display: grid;
    grid-template-columns: 335px 1fr;
    gap: 25px;
}

.about__column_logo {
    padding-top:35px;
    display: flex;
    justify-content: center;
}

.about__logo {
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo img {
    width: 148px;
    height: 114px;
}

.about__title {
    padding-top:135px;
    font-size: 40px;
    text-transform: uppercase;
}
.about__text-block {
    margin-top: 100px;
}

.about__text-block p {
    margin-top: 24px;
    font-size: 20px;
}

.footer {
    width: 1100px;
    margin-top: 180px;
    padding: 1px 50px 0 50px;
    display: grid;
    text-underline-position: under;
    grid-template-columns: 1fr max-content 1fr;
    align-items: start;
    font-size: 18px;
}

.footer__address {
    display: flex;
    font-style: normal;
    padding-left:1px ;
}
.footer__menu {
    display: flex;
    align-items: flex-start;
}
.footer__link-list {
    list-style: none;
    text-align: center;
}
.footer__links-list-item_no-bullit {
    text-decoration: none;
}
.footer__link_active {
    text-decoration: none;
}
.footer__social {
    display: flex;
    justify-content: end;
    gap: 48px;
    list-style: none;
}

.footer__social img {
    width: 48px;
    height: 48px;
}